*{
    margin:0;
}

.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style-type: none;
}

.topNavBar {
    font-size: 24px;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left:20px;
    padding-right: 20px;
}

.logo {
    float: left;
    font-style: 24px;
    font-family: 'Arial Black';
}

.logo .rs{
    color: #e8676b;
}

.logo .card {
    color: #9a9da2;
}

nav {
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}

nav a {
    padding:5px;
    border-bottom: 4px solid transparent;
    color:#b7b7b7;
    font-size: 12px;
    display: block;
}

nav li:hover > a{
    border-bottom-color: red;
}


