* {
    margin:0;
    padding: 0;
}

canvas {
    background-color: gray;
}

body {
    position: relative;
}

.tool {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.tool #pen  {
    display: none;
}

.tool.active #pen {
    display: inline-block;
}

.tool.active #eraser1 {
    display: none;
}

